.js-pagination-hidden {
    opacity: 0;
}

.js-heading-hidden {
    @include media-down(m) {
        display: none !important;
    }
}

.js-hamburger-color {
    div {
        background: $primary !important;
    }
}